#story {
  display: none;
}

body {
  background-image: url("http://a1star.com/images/star--background-seamless-repeating9.jpg");
  color: #fff;
  margin-left: 5em;
  margin-top: 3em;
}

input {
  max-width: 300px;
}

.container2 {
  margin-top: 300px;
  font-size: 22px;
}

label {
  font-size: 18px;
}

@media 
